/* сброс стилей */
@use './vars';

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding-inline-start: 0px;
}

a {
  color:vars.$brandblack;
}

a:visited {
  text-decoration: none;
  text-decoration-line: none;
    text-decoration-thickness: none;
    text-decoration-style: none;
    text-decoration-color: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}




// @media screen and (max-width: 767px){
//   .conteiner {
//   width: 450px;
//   margin: 0 auto;
//   }
// }
  


.conteiner {
  max-width: 450px;
  margin: 0 auto;
  padding-inline-start: 0;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}




/* задаем шрифт , цвет и размер всему тексту */
.body {
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: vars.$mainfontweight;
  color:vars.$brandblack;
}

.body ul {
  list-style-type: none;
}

/* убираем декорацию при посещении */
.body a:visited {
  text-decoration: none;
  color: none;
}

/* убираем декорацию для всех ссылок */
a {
  text-decoration: none;
}

/* Задаём размер заголовка "чем мы занимаемся" */
.body h2 {
  font-size: 36px;
  text-align: center;
}

/* задаем размер заголовков "наши приемущества"  */
.body h3 {
  font-size: 14px;
}
