@use './base/vars';



.address {
  display: flex;
}

.address_list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 9px;
  padding-bottom: 60px;

}

.address_logo {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: vars.$mainfontweight;
  font-size: 26px;
  color:vars.$brandcolor;
}

.address_span {
  color: white;
}

.address_direction {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.address_contacts {
  text-decoration: none;
  color: vars.$brandgrey;

  &:hover ,
  &focus {
   border-color: vars.$brandcolor;
  color: vars.$brandcolor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


}