@use './base/vars';

.advantage  {
  margin-top: 30px;
}

.advantage_list {
 display: flex;
   flex-direction: column;
   align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0%;

}



.advantage_illustration {
  width: 450px;
  height: 120px;
  margin-top: 30px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
}

.advantage_svg {
  margin-left: 190px;
  margin-top: 25px;
  height: 70px;
  width: 70px;
   }




.advantage_tittle {
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700;
}




.advantage_text {
   font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.7 ;

}

