@use './base/vars';

.advantage  {
  margin-top: 60px;
}

@media screen and (min-width: 1200px)
{
  .advantage {
   margin-top: 94px;
  }
}


.advantage_list {
 display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 0%;

}

@media screen and (min-width: 768px)
{
  .advantage_list {
    margin: 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px)
{
  .advantage_list {
    margin: 0 auto;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  }
}





.advantage_illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
  height: 120px;
  margin-top: 30px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
}

@media screen and (min-width: 768px)
{
  .advantage_illustration {
  margin-top: 0%;
  }
}

@media screen and (min-width: 1200px)
{
  .advantage_illustration {
  max-width: 270px;
  }
}



.advantage_item {
  max-width: 93.75vw;
  }

@media screen and (min-width: 768px)
{
  .advantage_item {
  max-width: 354px;
  }
}

@media screen and (min-width: 1200px)
{
  .advantage_item {
  max-width: 270px;
  }
}

.advantage_svg {
   margin-top: 25px;
  height: 70px;
  width: 70px;
   }




.advantage_tittle {
  text-transform: uppercase;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (min-width: 1200px)
{
  .advantage_tittle {
  text-align: left;
  }
}




.advantage_text {
   font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.7 ;

}

