@use './base/vars';

.advantage  {
  margin-top: 94px;
}

.advantage_list {
  display: flex;
  gap: 30px;
  text-align: left;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0%;

}

@media screen and (max-width: 767px) {
.advantage_list {
   display: flex;
   flex-direction: column;
   align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0%;
}
.advantage  {
  margin-top: 63px;
}
}

.advantage_svg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.advantage_item {
  width: 270px;

}

@media screen and (max-width: 767px) {
.advantage_svg {
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  }
.advantage_item {
  width: 450px;
  background-image:url(../../images/sprite.svg#icon-svg-background);
}
}


.advantage_tittle {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 700;
}




.advantage_text {
   font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 1.7 ;

}

