@use './base/vars';

.advantage  {
  margin-top: 94px;
}

.advantage_list {
  display: flex;
  gap: 30px;
  text-align: left;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0%;

}


.advantage_tittle {
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 700;
}

.advantage_item {
  width: 270px;

}


.advantage_text {
   font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 1.7 ;

}

.advantage_svg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}