.burger {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 276px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    background-image: url(../../svg/menu_24px.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:active,
    &:hover,
    &:focus
    {
        background-image: url(../../svg/menu_24px_active.svg) ;
    }
}