@use './base/vars';

.checkbox {
  margin-top: 20px;
  margin-left: 12px;
  padding-left: 8px;
  font-weight: 400;
  font-size: 12px;
  color: vars.$brandgrey;
}

  @media screen and (min-width: 1200px) {
  .checkbox {
    padding-left: 24.38px;
}
}





.checkbox_agreement {
  padding-left: 4px;
  color: vars.$brandcolor;
  line-height: 2px;
  text-decoration: underline vars.$brandcolor ;

}



.checkbox_input{
  position: absolute;
   -webkit-appearance: none;
  width: 0px;
  height: 0px;

        &:focus + .checkbox_castom,
        &:hover + .checkbox_castom,
        &:checked + .checkbox_castom  {
        border-color: vars.$brandcolor;
        }


          &:checked + .checkbox_castom {
          background-image: url(../../images/icon-checked.svg);
          background-position: center;
          border: none;
          transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  }

 

.checkbox_castom {
  position: absolute;
  bottom: 110px;
  left: 8.8888% ;
  width: 15px;
  height: 15px;
  border: 2px solid vars.$brandblack;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 outline: none;
}

  @media screen and (min-width: 1200px) {
  .checkbox_castom {
    left: 9.84% ;
}
}

  