@use './base/vars';

.clients_tittle{
  margin-top: 60px;
  margin-bottom: 30px;
}
.clients_case {
  max-width: 450px;
  margin: 0 auto;
}


.clients_list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 30px;
  padding-bottom: 60px;
}

.clients_item {
  max-width: 210px;
  max-height: 90px;
}



.clients_svg {
  height: 100%;
  width: 100%;
  fill:rgba(175, 177, 184, 1);;
  border: 20px 63px ;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(175, 177, 184, 1);
  border-radius: 4px;

  &:hover ,
  &focus {
   border-color: vars.$brandcolor;
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
}
