@use './base/vars';

.clients_tittle{
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px)
{
  .clients_tittle {
   padding-top: 94px;
  padding-bottom: 50px;
  }
}


.clients_case {
  max-width: 450px;
  margin: 0 auto;
}


@media screen and (min-width: 768px)
{
  .clients_case {
   max-width: 738px;
  }
}

@media screen and (min-width: 1200px)
{
  .clients_case {
   max-width: 1170px;
  }
}

.clients_list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap: 30px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px)
{
  .clients_list {
   flex-wrap: nowrap;
  }
}

.clients_item {
  max-width: 210px;
  max-height: 90px;
}

@media screen and (min-width: 768px)
{
  .clients_item {
   max-width: 226px;
  }
}



.clients_svg {
  height: 100%;
  width: 100%;
  fill:rgba(175, 177, 184, 1);;
  border: 20px 63px ;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(175, 177, 184, 1);
  border-radius: 4px;

  &:hover ,
  &focus {
   border-color: vars.$brandcolor;
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  
}
