@use './base/vars';

.distribution {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100vw;
  color: white;
  }

     @media screen and (min-width: 1200px)
{
  .distribution {
    width: 570px;
    margin-left: 93px;
    margin-top:  70px;
    display: block;
  }
}

  .distribution_text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.1px;
  }

       @media screen and (min-width: 1200px)
{
  .distribution_text {
    margin-left: 15px;
  }
}

  

  .distribution_form {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   padding-bottom: 60px;
  }

      @media screen and (min-width: 1200px)
{
  .distribution_form  {
   display: flex;
   flex-direction: row;
  }
}





  .distribution_input {
    width: 85vw;
    max-width: 450px;
    height: 50px;
    outline: none;
    padding-left: 16px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top:0px;
    margin-bottom: 20px;
    background-color: vars.$darkbackground;
    color: vars.$brandcolor;
    border: 1px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-radius: 4px;

  &:hover ,
  &focus {
  border-color: vars.$brandcolor;
  }
  }

   @media screen and (min-width: 1200px)
{
  .distribution_input {
    max-width: 354px;
  }
}


   .distribution_button {
    display: flex;
    width: 200px;
    height: 50px;
   margin:0 auto ;
    padding-top: 16px;
    padding-left: 29px;
    color: #f5f4fa;
    background-color: vars.$brandcolor;
    border-radius:4px ;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
  }

  
  .button_svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
  }