@use './base/vars';

.filter {
  margin-top: 94px;
  padding-bottom: 94px;
}

.filter_buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}




.filter_button {
  padding: 6px 22px 6px 22px;
  color:vars.$brandblack;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: white;
  font-size: 16px;
  font-weight: 500;

  &:hover ,
  &:focus {
  color: white;
  background-color: vars.$brandcolor;
  box-shadow:
  0px 2px 2px 0px rgb(0, 0, 0 , 0.12),
   0px 1px 2px 0px rgb(0, 0, 0 , 0.08),
   0px 3px 1px 0px rgb(0, 0, 0 , 0.10);
   transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

}