@use './base/vars';

.footer {
  background-color: vars.$darkbackground;
  
}

 @media screen and (min-width: 1200px)
{
  .footer {
   display: flex;
   flex-direction: row;
   justify-content: left;
   flex-wrap: nowrap;
  }
}



  .footer_block {
   display: flex;
  flex-direction: column;
  align-items: center;
  }

  @media screen and (min-width: 768px)
{
  .footer_block {
   display: flex;
   flex-direction: row;
  justify-content: space-around;
  }
}

 @media screen and (min-width: 1200px)
{
  .footer_block {
   display: flex;
   flex-direction: row;
  justify-content: left;
  gap: 70px;
  }
}
