@use './base/vars';

.header {
  position: relative;
  // border-bottom-width: 1px;
  // border-bottom-color:rgba(236, 236, 236, 1);
  border-bottom-style: solid;
  overflow: hidden;

}

.heder_nav {
   display: flex;
    height: 60px;
  font-size: 14px;
  font-weight: 500;
  color:vars.$brandblack;
}

@media screen and (min-width: 768px)
{
  .heder_nav {
 height: 80px;
  }
}

/* Логотип  */
/* задает логотипу шрифт и размер */
.header_logo {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: vars.$mainfontweight;
  font-size: 24px;
  letter-spacing: .03em;
  color: vars.$brandcolor;
}

@media screen and (min-width: 767px){
  .header_logo {
   margin-top: 26px;
  margin-bottom: 26px;
  }
}

@media screen and (min-width: 1200px){
  .header_logo {
   margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 215px;
  font-size: 26px;
  }
}



/* Цвет "WEB" */
.logo {
  color: #2196f3;
  letter-spacing: 0.03em;
}
/* цвет "STUDIO" вверху */
.header_span {
  color:vars.$brandblack;
  letter-spacing: 0.03em;
}
