@use './base/vars';

.header {
  border-bottom-width: 1px;
  border-bottom-color:rgba(236, 236, 236, 1);
  border-bottom-style: solid;
  overflow: hidden;

}

.heder_nav {
   display: flex;
  font-size: 14px;
  font-weight: 500;
  color:vars.$brandblack;
}

/* Логотип  */
/* задает логотипу шрифт и размер */
.header_logo {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: vars.$mainfontweight;
  font-size: 24px;
  letter-spacing: .03em;
  color: vars.$brandcolor;
}



/* Цвет "WEB" */
.logo {
  color: #2196f3;
}
/* цвет "STUDIO" вверху */
.header_span {
  color:vars.$brandblack;
  letter-spacing: 3%;
}
