@use './base/vars';

.hero {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-image:
   linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
   url(../../images/img-background.jpg);
  background-color: vars.$darkbackground;
  background-size: cover;
  outline: 0;
  border: 0;
  height: 600px;
  width: 100vw;
  margin: 0% auto;
  background-position: center;
 
}

@media screen and (max-width: 1199px) {
  .hero {
    background-image:
   linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
   url(../../images/img-background480.jpg);
  background-color: vars.$darkbackground;
  background-size: cover;
  height: 400px;
  width: 100vw;
  margin: 0% auto;
  background-position: center;
}
}



/* Титульный текст */
.hero_title {
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: .06em;
  text-transform: uppercase;
  padding-top: 118px;
  color: white;
}



@media screen and (max-width: 767px) {
  .hero_title {
   text-align: center;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 42px;
  text-transform: uppercase;
  padding-top: 118px;
  color: white;
}
}

@media screen and (min-width: 1200px) {
  .hero_title {
   font-size: 44px;
   line-height: 60px;
   padding: 200px 26px 30px 26px ;
}
}




/*  стиль кнопки "заказать услугу" */
.hero_button {
  background-color: vars.$brandcolor;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
 
  margin-top: 30px;
  border: 0;
}

@media screen and (min-width: 1200px) {
  .hero_button {
   margin-top: 0px;
}
}

