@use './base/vars';

.hero {
  background-image:
   linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
   url(../../images/img-background.jpg);
  background-color: vars.$darkbackground;
  background-size: cover;
  height: 600px;
  width: 100vw;
  margin: 0% auto;
  background-position: center;
 
}

@media screen and (max-width: 767px) {
  .hero {
    background-image:
   linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
   url(../../images/img-background480.jpg);
  background-color: vars.$darkbackground;
  background-size: cover;
  height: 400px;
  width: 100vw;
  margin: 0% auto;
  background-position: center;
}
}



/* Титульный текст */
.hero_title {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 200px;
  color: white;
}

@media screen and (max-width: 767px) {
  .hero_title {
   text-align: center;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 42px;
  text-transform: uppercase;
  padding-top: 118px;
  color: white;
}
}




/*  стиль кнопки "заказать услугу" */
.hero_button {
  background-color: vars.$brandcolor;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-left: 500px;
  margin-top: 30px;
  border: 0;
}

@media screen and (max-width: 767px) {
.hero_button {
  margin-left: 125px;
}
}