@use './base/vars';

.mbmenu {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100vw;    
    background-color: white;
    font-weight: 500;
    font-size: 40px;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: hidden;
    
    
}

.is-open {
    transform: translateY(0%);
    visibility: visible;

}

.mbmenu_button{
    position: absolute;
    top: 10px;
    left: 425px;
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: inherit;
    background-image: url(../../svg/close_24px.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:active,
    &:hover,
    &:focus{
        background-image: url(../../svg/close_24pxbrandcolor.svg);
        transition: background-image 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.mbmenu_navigation {
    padding-top: 40px;
}

.mbmenu_item {
    padding-bottom: 32px;
}

.mbmenu_item--number {
    font-size: 34px;
    color: vars.$brandcolor;
}

.mbmenu_item--mail {
    font-size: 24px;
}

.mbmenu_contacts {
    padding-top: 270px;
}





.mbmenu_links{
    display: flex;
    padding-top: 32px;
    padding-bottom: 48px;
    font-weight: 500;
    font-size: 18px;
}

.mbmenu_link {
    padding: 0px 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    color: vars.$brandcolor;

}

.mbmenu_link--first {
    padding-left: 0px;
    border: none;
}