@use './base/vars';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);

}


.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal_close {
  top:8px;
  left: 25px;
  z-index: 4;
  cursor: pointer;
 
}

.modal_svg {
  fill:vars.$brandblack;
  position: absolute;
  left: 490px;
  top:8px;
  width: 11px;
  height: 11px;
  padding-left: 10px;
  width: 30px;
  height: 30px;
   border: 1px;
   padding-top: 9px;
   padding-left: 9px;
  border-style:solid ;
  border-radius: 14px;
  border-color: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover ,
  &focus {
  fill: vars.$brandcolor;
}
}