@use './base/vars';

.navigation {
  position: absolute;
  top: 32px;
  left: 30.85vw;

}

@media screen and (min-width: 1200px){
  .navigation {
  left: 29.5vw;
  }
}

@media screen and (max-width: 767px){
  .navigation {
  display: none;
  }
}


.navigation_list {
  display: flex;
 justify-content: space-between;
 padding: 0px;
 color:vars.$brandblack;
  text-decoration: none;
}

.navigation_link {
  position: relative;
  text-decoration: none;
  color:vars.$brandblack;
  margin-left: 50px;

  &:hover ,
  &:focus {
  color: vars.$brandcolor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
}

.navigation_link--first {
  margin-left: 0px;
}



.navigation_link--current {
  color: vars.$brandcolor;

  &::after{
  position: absolute;
  content: "";
  display: block;
  left: 0%;
  top: 45px;
  width: 100%;
  height: 4px;
  border-color: vars.$brandcolor;
  border-radius: 2px;
  background-color: vars.$brandcolor;
  
  }
}
