@use './base/vars';

.navigation {
  margin-top: 32px;
  margin-bottom: 32px;
}


.navigation_list {
  display: flex;
 width: 294px;
 justify-content: space-between;
 padding: 0px;
 color:vars.$brandblack;
  text-decoration: none;
}

.navigation_link {
  position: relative;
  text-decoration: none;
  color:vars.$brandblack;

  &:hover ,
  &:focus {
  color: vars.$brandcolor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
}




.navigation_link--current {
  color: vars.$brandcolor;

  &::after{
  position: absolute;
  content: "";
  display: block;
  left: 0%;
  top: 45.5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: vars.$brandcolor;
  
  }
}
