@use './base/vars';

.PersonalContacts {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 0%;
  padding-bottom: 32px;
  

}

.PersonalContacts_svg {
  height: 44px;
  width: 44px;
}

.PersonalContacts_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill:rgba(175, 177, 184, 1);

  &:hover ,
  &focus {
   background-color: vars.$brandcolor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  &:hover .PersonalContacts_svg,
  &focus .PersonalContacts_svg {
   fill: #f5f4fa;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

}