@use './base/vars';

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 15px;
  padding-left: 0%;
  gap: 30px;
  

}




.project_card:hover,
.project_card:focus {
box-shadow:
1px 4px 6px 0px rgb(0, 0, 0 , 0.16),
   0px 4px 4px 0px rgb(0, 0, 0 , 0.06),
   0px 1px 1px 0px rgb(0, 0, 0 , 0.12);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);    


}

.project_item {
    position: relative;
    overflow: hidden;
}

.project_img {
  display: block;
  max-width: 370px;
  max-height: 294px;

}

.project_overley {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px ;
  background-color: vars.$brandcolor;
  bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #f5f4fa;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.project_card:hover .project_overley {
  transform: translateY(0) ;
  
}





.project_base {
  height: 110px;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;

  border-left-style: solid;
  border-left-color: rgba(238, 238, 238, 1);
  border-left-width: 1px;

  border-right-style: solid;
  border-right-color: rgba(238, 238, 238, 1);
  border-right-width: 1px;

  border-bottom-style: solid;
  border-bottom-color: rgba(238, 238, 238, 1);
  border-bottom-width: 1.6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.project_name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.project_specialization {
  padding-top: 12px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: vars.$brandgrey;
}