@use './base/vars';


.StudioContacts_title {
  font-weight: 700;
  color: #f5f4fa;
  text-transform: uppercase;
  text-align: center;
  padding-left: 10px;
  padding-bottom: 20px;
}

.StudioContacts_list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 0%;
  padding-bottom: 32px;
}

.StudioContacts_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(175,	177 ,	184, 0.1);
  fill: white;

  &:hover ,
  &focus {
   background-color: vars.$brandcolor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}


.StudioContacts_svg {
  height: 44px;
  width: 44px;
}