/* Фон секции "наша команда" */
@use './base/vars';

.team {
  margin-top: 60px;
  background-color: #F5F4FA;
  width: 100vw;
}


/* размер текста "наша команда" */
.team_tittle {
  font-size: 36px;
  padding-top: 60px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1200px)
{
  .team_tittle {
  padding-top: 94px;
  }
}


.team_list {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: 0px auto;
  padding-bottom: 60px;
  gap: 30px;
  
}



@media screen and (min-width: 768px)
{
  .team_list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }
}

@media screen and (min-width: 1200px)
{
  .team_list {
  margin: 0px 215px;
  padding-bottom: 94px;
  flex-wrap: nowrap;
  }
}


.team_item {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  border-radius: 4px;
  box-shadow:
   0px 1px 3px 0px rgb(0, 0, 0 , 0.12),
   0px 1px 1px 0px rgb(0, 0, 0 , 0.14),
   0px 2px 1px 0px rgb(0, 0, 0 , 0.20);

}

@media screen and (min-width: 768px)
{
  .team_item {
  max-width: 354px;
  }
}

@media screen and (min-width: 1200px)
{
  .team_item {
  max-width: 270px;
  }
}

.team_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team_name  {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}


.team_specialization {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  color: vars.$brandgrey;
}
