/* Фон секции "наша команда" */
@use './base/vars';

.team {
  margin-top: 60px;
  background-color: #F5F4FA;
  width: 100vw;
}

/* размер текста "наша команда" */
.team_tittle {
  font-size: 36px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.team_list {
  display: flex;
  flex-direction:column;
  align-items: center;
    padding-bottom: 60px;
    padding: 0px;
     padding-bottom: 60px;
  gap: 30px;
  
}

.team_item {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow:
   0px 1px 3px 0px rgb(0, 0, 0 , 0.12),
   0px 1px 1px 0px rgb(0, 0, 0 , 0.14),
   0px 2px 1px 0px rgb(0, 0, 0 , 0.20);

}

.team_name  {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}


.team_specialization {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  color: vars.$brandgrey;
}
