@use './base/vars';

.userdata {
  display: flex;
  width: 100%;
  height: 100%;
    }


.userdata_group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  margin-left: 40px;
  border: 0;
  padding: 0;
  padding-inline:0 ;
  margin-bottom: 20px;
  }




.userdata_title {
font-family: Roboto, Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: center;
padding-top: 40px;
line-height: 30px;
letter-spacing: 0.03em;
}

 

.userdata_label{
   position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  color:rgba(117, 117, 117, 1) ;
  
      &:hover > .userdata_icon,
       &:focus-within > .userdata_icon{
      fill:vars.$brandcolor;
      }

      &:hover > .userdata_input,
      &:focus-within > .userdata_input{
        border-color: vars.$brandcolor;
      }

      &:hover > .userdata_textarea,
      &:focus-within > .userdata_textarea {
      border-color: vars.$brandcolor;
      }

}


.userdata_label--first {
 padding-top: 0px;
 
}






.userdata_input {
  font-size: 16px;
  height: 40px;
  width: 370px;
  margin-top: 4px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color :rgba(117, 117, 117, 1); 
  cursor: pointer;
  text-indent: 39px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
        border-style: solid;
        border-width: 1px;
        border-color: vars.$brandcolor;
        outline: none; 
      }
}



.userdata_icon {
  fill:vars.$brandblack;
  position: absolute;
  top: 39px;
  left: 15px;                                   
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.userdata_icon--first {
  top: 30px;
}

  

/* Инпут комментарий */

  .userdata_textarea {
    height: 120px;
    resize: none;
    padding: 16px 12px;
    margin-top: 4px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

              &:focus {
              border-style: solid;
              border-width: 1px;
              outline: none;
              }
    
  }

.userdata_button {
 margin-top: 30px;
 margin-left:85px;
 width: 200px;
 height: 50px;
 border: 0;
 border-radius: 4px;
 background-color: vars.$brandcolor;
 color: #f5f4fa;
 font-size: 16px;
 font-weight: 700;
 letter-spacing: 0.06em;
 cursor: pointer;
 box-shadow: 
   0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

